.bc{
    position: static;
    width: 1500px;
    height: 600px;
}

.font {
    position: absolute;
    font-family: 'Arial';
    font-size: 35px; 
    color: whitesmoke;
    text-shadow: 1px 1px 2px purple, 0 0 1em palevioletred, 0 0 0.2em palevioletred;
  }

.inp1{
    position: absolute;
    bottom:200px;
    left:630px;
    width:300px;
    border-radius: 5px;
}
.butt1{
position: absolute;
    bottom:170px;
    left:630px;
    width:300px;
    border-radius: 5px;
}